{% extends 'base.html' %}

{% block title %} Eventos {% endblock %}

{% block nav-bar %}

    {% if user.is_authenticated %}
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="{% url 'users:user_detail' user.id %}">Perfil</a></li>
      <li><a href="#!">Configuración</a></li>
      <li class="divider"></li>
        <li><a href="{% url 'user-logout' %}">Cerrar Sesion</a></li>
    </ul>
    <!-- Mobile dropdown -->
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="{% url 'users:user_detail' user.id %}">Perfil</a></li>
      <li><a href="#!">Configuración</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'user-logout' %}">Cerrar Sesion</a></li>
    </ul>
      <nav class="blue-grey darken-1 valign">
        <div class="nav-wrapper">
           <a href="#!" class="brand-logo"><i class="material-icons">group_work</i>Sarañani</a>
           <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
           <ul class="right hide-on-med-and-down">
             <li><a href="https://github.com/AlexandroPQC/sara-ani">Dashboard</a></li>
             <li><a href="https://github.com/AlexandroPQC/sara-ani">Eventos</a></li>
             <li>
               <a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.first_name }} {{user.last_name}}
                 <img src="{{ user.avatar }}" class="circle responsive-img left" />
                 <i class="material-icons right">arrow_drop_down</i>
               </a>
             </li>
           </ul>
           <ul class="side-nav" id="mobile-nav">
             <li><a href="https://github.com/AlexandroPQC/sara-ani">Dashboard</a></li>
             <li><a href="https://github.com/AlexandroPQC/sara-ani">Eventos</a></li>
             <li>
               <a class="dropdown-button" href="#!" data-activates="dropdown2">{{ user.first_name }} {{user.last_name}}
                 <i class="material-icons right">arrow_drop_down</i>
               </a>
             </li>
           </ul>
         </div>
      </nav>

    {% else %}
      <nav class="blue-grey darken-1 valign">
        <div class="nav-wrapper">
           <a href="#!" class="brand-logo"><i class="material-icons">group_work</i>Sarañani</a>
           <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
           <ul class="right hide-on-med-and-down">
             <li><a href="https://github.com/AlexandroPQC/sara-ani">GitHub</a></li>
             <li>
               <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                 Ingresar con Facebook
               </a>
             </li>
           </ul>
           <ul class="side-nav" id="mobile-nav">
             <li><a href="https://github.com/AlexandroPQC/sara-ani">Eventos</a></li>
             <li>
               <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                 Ingresar con Facebook
               </a>
             </li>
           </ul>
         </div>
      </nav>

    {% endif %}



{% endblock %}


{% block toolbar %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col s12 m6 l8">
    <a href="./new" class="waves-efect waves-light btn-large"><i class="material-icons left">add</i>Añadir evento</a>
  </div>
  <div class="col s12 m6 l4">
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required placeholder="Buscar evento">
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
{% else %}
{% endif %}
{% endblock %}

{% block content %}

<div class="row">
  {% if object_list %}

  {% for event in object_list %}
  <div class="col s12 m6 l4">
    <div class="container">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{event.attachment}} />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{event.title}}<i class="material-icons right">more_vert</i></span>
          <p>
            <a href="#">{{event.webpage}}</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{event.title}}<i class="material-icons right">close</i></span>
          <p>{{event.description}}</p>
          <a class="waves-effect waves-light btn-large red" href="{% url 'delete_event' event.id %}"><i class="material-icons left">delete</i>Eliminar</a>
          <a class="waves-effect waves-light btn-large" href="{% url 'edit_event' event.id %}"><i class="material-icons left">mode_edit</i>Editar</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="col s12">
  <h1>No existen eventos registrados. :( </h1>
</div>
{% endif %}

{% endblock %}
