{% extends 'base_navbar.html' %}
{% load material_form %}
{% block title %} Eventos {% endblock %}

{% block content %}

<div class="row valign change-form">
  <div class="col s12 m8 offset-m2  l8 offset-l2">
    <div class="card">
        <form method="POST">
        <div class="card-content">
          {% csrf_token %}
          {% form form=form %}{% endform %}
          </div>
          <div class="card-action">
          <button type="submit" name="_submit" class="btn">Guardar</button>
          </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}
