{% extends 'base_navbar.html' %}

{% block title %} Eventos {% endblock %}



{% block content %}

{% if user.is_authenticated %}
<div class="row">
  <div class="col s12 m6 l8">
    <a href="./new" class="waves-efect waves-light btn-large"><i class="material-icons left">add</i>Añadir evento</a>
  </div>
  <div class="col s12 m6 l4">
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required placeholder="Buscar evento">
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
{% else %}
{% endif %}

<div class="row">
  {% if object_list %}

  {% for event in object_list %}
  <div class="col s12 m6 l4">
    <div class="container">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{event.attachment}} />
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{event.title}}<i class="material-icons right">more_vert</i></span>
          <p>
            <a href="#">{{event.webpage}}</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{event.title}}<i class="material-icons right">close</i></span>
          <p>{{event.description}}</p>
          <a class="waves-effect waves-light btn-large yellow" href="{% url 'detail_event' event.id %}"><i class="material-icons left">view_agenda</i>Detalles</a>
          <a class="waves-effect waves-light btn-large red" href="{% url 'delete_event' event.id %}"><i class="material-icons left">delete</i>Eliminar</a>
          <a class="waves-effect waves-light btn-large" href="{% url 'edit_event' event.id %}"><i class="material-icons left">mode_edit</i>Editar</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="col s12">
  <h1>No existen eventos registrados. :( </h1>
</div>
{% endif %}
{% if page_obj.has_other_pages %}
 <ul class="pagination">
{% if page_obj.has_previous %}
  <li class="waves-effect"><a href="{% url 'events' %}?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
{% else %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
{% endif %}

{% for i in paginator.page_range %}
  {% if page_obj.number == i %}
    <li class="active"><a href="?page={{ i }}">{{ i }}</li>
  {% else %}
    <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</li>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <li class="waves-effect"><a href="{% url 'events' %}?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
{% else %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
{% endif %}
</ul>
{% endif %}
{% endblock %}
