
.container {
  width: 95%;
  max-width: none;
}

.navbar-custom {
    background-color: #00695c ;
}

.footer-custom {
    background-color: #00695c ;
}

.body {
  background-color: #eeeeee ;
}

html, body {
    background: #eee;
    height: 100%;
}

@media only screen and (min-width : 601px) {
    #id_card_type_container {
        margin-top: 40px;
        margin-left: 50px;
}
